<!DOCTYPE html>
<html>
<head>
    <title>Detail Page</title>
</head>
<body>
    <h1><%= @book.title %></h1>
    <h2>by <%= @book.author.name %></h2>

    <div>Description:</div>
    <div><%= @book.snippet %></div>


    <form action="/books/<%= @book.id %>" method="POST">
        <input type="hidden" value="DELETE" name="_method">
        <input type="submit" value="Delete this book">
    </form>
    
    <a href="/books/<%= @book.id %>/edit">Edit this book</a>
    <a href="/books">Book Index Page</a>
</body>
</html>